.not-found-container {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

.not-found-icon {
  margin: 24px 0;
  
  mat-icon {
    font-size: 64px;
    height: 64px;
    width: 64px;
    color: #f44336;
  }
}

mat-card-actions {
  justify-content: center;
}